body 
{
  font-family: Tahoma, Arial Black, Arial, sans-serif;
  color: black;
  background: #999; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF99', endColorstr='#FFFFFF'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9), to(#FFF)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #FF9,  #FFF); /* for firefox 3.6+ */

}

P { text-align: center }
H2 { text-align: left; padding-left:50px; padding-top:25px; font-size: 3.0em;}
H6 { text-align: left; font-size: 0.8em; font-weight: normal; padding-left:50px;}

div#graph { text-align: center }

table#table1 {border: 1px solid gray; margin-left:auto; margin-right:auto;}
#table-left{text-align: right; padding-right:50px;}
#table-center{text-align:center; font-size: 1.5em; }
#table-right{text-align: right; font-size: 0.8em; color: gray;}
